* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-color : #2C3E50;
    --light-bg : #F7F9FC;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, #2e279d, #7f279c);
    font-family: Arial;
}
.container {
    width: 550px;
    height: 600px;
    background-color: var(--light-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
h2 {
    color: var(--text-color);
    font-size: 35px;
    margin-bottom:  25px;
}
.inputbox {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
}
input {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #E0E0E0;
    color: var(--text-color);
    font-size: 18px;
}
textarea {
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
    outline: none;
    border-radius: 10px;
    border: 2px solid #E0E0E0;
    color: var(--text-color);
    font-size: 18px;
    resize: none;
}
button {
    width: 50%;
    padding: 15px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 20Px;
    background-color:rgb(99, 15, 133);
    outline: none;
    border: 2px solid #E0E0E0;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    background-color: #2e279d;
}