* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

:root {
    --text-color : #87868e;
    --heading-color : #676b72;
    --bg-color : #f3f2f2;
    --btn : #d2d3d5;
    --border : #e3e3e4;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3); */
    box-shadow: 0 4px 6px rgba(153, 151, 151, 0.3); 
}

.logo {
    /* height: 60px; */
    width: 100%;
    text-align: center;
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 3px solid var(--border);
}

.logo img {
    height: 60px;
}
.nav-section {
    width: 700px;
}

.nav-section ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-section a {
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none ;
}

.nav-section a:hover {
    color: black;
}

.nav-section li {
    padding: 10px;
}

.nav-section li:hover {
    border-bottom: 2px solid black;
}

main {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center;
     */
     justify-content: center;
}

.hero-section {
    
    margin-top: 5px;
}

.hero-content {
    width: 1500px;
    height: 400px;
    background-image: url(hero-bg.png);
    background-size: cover;
}

.hero-content h1 {
    padding-top: 100px;
    padding-left: 100px;
    color: white;
    font-size: 55px;
    margin-bottom: 30px;
}

.hero-content p {
    color: var(--text-color);
    font-size: 25px;
    font-weight: bold;
    width: 530px;
    padding-left: 100px;
}