* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    height: 100vh;
}

.container {
    background-color: #f0f2f5;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}

.logobox img {
    height: 100px;
    margin-top: 5px;
}

.formbox {
    width: 432px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
}

.form-title {
    text-align: center;
    border-bottom: 1px solid #DADDE1;
    padding: 10px;

}

.form-title h2 {
    font-size: 25px;
}

.form-title p {
    font-size: 15px;
    color: #606770;
}

.form {
    padding: 16px;
    width: 100%;
}
.input-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-name input {
    width: 194px;
    line-height: 16px;
    font-size: 15px;
    padding: 11px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
}

.dob {
    margin-bottom: 10px;

}

.dob p {
    color: #606770;
    font-size: 12px;
    margin-bottom: 10px;
}

.dob i {
    cursor: pointer;
}

.dob-d-m-y {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.dob-d-m-y select{
    width: 31.3%;
    border: 1px solid #ccd0d5;
    color: #1c1e21;
    border-radius: 5px;
    padding: 8px;
}

.dob-d-m-y select:focus {
    border: 2px solid black;
}

.gender {
    margin-bottom: 10px;
}
.gender p {
    color: #606770;
    font-size: 12px;
    margin-bottom: 10px;
}

.gender i {
    cursor: pointer;
}

.radiobtn {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.female {
    display: flex;
    justify-content: space-between;
    width: 31.3%;
}

.female label {
    width: 100%;
    color: #1c1e21;
    padding: 8px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
}

.female input {
    margin-left: 35px;
}
.male {
    display: flex;
    justify-content: space-between;
    width: 31.3%;
}

.male label {
    width: 100%;
    color: #1c1e21;
    padding: 8px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
}

.male input {
    margin-left: 55px;
}
.other {
    display: flex;
    justify-content: space-between;
    width: 31.3%;
}

.other label {
    width: 100%;
    color: #1c1e21;
    padding: 8px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
}

.other input {
    margin-left: 50px;
}

.input-email input, .input-password input {
    width: 100%;
    line-height: 16px;
    font-size: 15px;
    padding: 11px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    margin-bottom: 10px;
}

.terms p {
    font-size: 11px;
    color: #777;
    margin: 11px 0;
}

.terms a {
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.signupbtn {
    width: 100%;
    padding: 10px;
}

.signupbtn button {
    width: 50%;
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #00a400;
    border: none;
    border-radius: 5px;
    margin: 10px 25%;
    cursor: pointer;
}

.signupbtn button:hover {
    color: #f5f1f1;
}

.already-account {
    text-align: center;
    padding: 10px;
}

.already-account a {
    text-decoration: none;
    color: #1666fb;
}

.already-account a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;

}
.footer-container {
    width: 980px;
    background-color: white;
    font-size: 12px;
    margin-top: 30px;    
}

.lang li{
    padding-right: 10px;
    margin-top: 1%;
}

ul {
    color: #737373;
    display: flex;
    list-style: none;
}

.links li{
    padding-right: 20px;
    text-decoration: none;
}

.plusbtn {
    font-weight: bold;
    font-size: 17px;
    padding: 0 8px;

}

.footer-container a {
    color: #737373;
    text-decoration: none;
}

.footer-hr {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 10px;
}

.copyright {
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Responsive */
@media only screen and (max-width: 1024px) {
    ul, .copyright {
        padding-left: 10px;
        flex-wrap: wrap;
    }

}