body {
    background-color: rgb(0, 0, 0);
    color: #e2eeff;
    font-family: Arial, Helvetica, sans-serif;
}
/* table {
  display: grid;
  justify-content: center;
} */
.border {
    border: 2px solid black;
    border-radius: 10px;
}
td {
    height: 70px;
    width: 70px;
    padding: 2px;
    cursor: pointer;
}
/* #td-top-margin {
    margin: 10px;
} */
td:hover {
    transform: scale(1.1);
}
p {
    padding: 0;
    margin: 0;
    font-size: x-small;
}
h2, h3 {
    padding: 0;
    margin: 0;
}
.align-left {
    font-size: small;
    font-weight: bold;
    padding-left: 2px;
    margin: 0;
}
.align-right {
    float: right;
    font-size: x-small;
    padding-right: 1px;
    margin: 0;
}
h2, div, h3, p {
    text-align: center;
}
h1 {
    text-align: center;
    color: rgb(245, 239, 252);
    font-size: 50px;
    text-decoration: underline;
}
.alkali-metals {
    background-color: #244d57;
}
.alkaline-earth-metals {
    background-color: #622e39;
}
.transition-metals {
    background-color: #433c65;
}
.post-transition-metals {
    background-color: #2f4d47;
}
.metalloids {
    background-color: #523e1b;
}
.reactive-non-metals {
    background-color: #2a4165;
}
.noble-gases {
    background-color: #623842;
}
.lanthanides {
    background-color: #004a77;
}
.actinides {
    background-color: #613b28;
}
.unknown-properties {
    background-color: #46474c;
}