* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg, #7f279c 0%, #2e279d 100%);
    font-family: Arial;
}
.container {
    width: 400px;
    height:400px;
    background-color: rgba(255, 255, 255, 0.808);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px 50px;
    padding: 15px;
}
h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
    font-size: 18Px;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    outline: none;
    font-size: 18px;
}
button {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    font-size: 18px;
    background-color: rgb(99, 15, 133);
    color: white;
    cursor: pointer;
}
p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}
p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}