* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg, #7f279c 0%, #2e279d 100%);
    font-family: Arial, Helvetica, sans-serif;
}

/* card */
.card {
    width: 320px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
}

/* Profile-image */
.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.808);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.profile-image img:hover {
    transform: scale(1.05);
}

/* Name */
.name {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}

/* Profession */
.profession {
    color: gray;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Bio */
.bio {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Social-link */
.social-link {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 25px;    
}

.social-link i {
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.social-link i:hover {
    color: #1877f2;
    transform: scale(1.05);
}

/* button */
.btn {
    width: 80%;
    margin: auto;
}

.btn button {
    width: 100%;
    background: #1877f2;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.btn button:hover {
    background: #0f5fd1;
    transform: scale(1.05);
}